In [167]:
import pandas as pd
import numpy as np

In [8]:
data_high_test = pd.read_csv('data/interim/data_high_test.csv')
print(data_high_test['buyer_nbr'].nunique())
print(data_high_test['lot_nbr'].nunique())

16509
681838

In [9]:
data_high_test

,mbr_lic_type,mbr_state,lot_nbr,buyer_nbr,mbr_email,max_bid,inv_dt,lot_year,lot_make_cd,grp_model,acv,repair_cost,total_unique_buyers_on_that_lot,total_unique_lots_bid_by_buyers
0,Consumer,TN,60112235,307475,307475cprt_dmmy_MASTERBDR_774468_468903@copart...,525.0,2025-08-26,2013,BUIC,VERANO,6225.00,6328.59,4,53416
1,Consumer,PA,81847425,649757,Narciso1967jb@gmail.com,150.0,2025-10-07,2007,HYUN,VERACRUZ,4525.00,0.00,2,28
2,Dealer,NJ,65945235,889115,jimotorsllc2020@gmail.com,3000.0,2025-09-30,2022,ACUR,TLX,32572.56,26578.75,15,105
3,Dismantler,WA,69214205,163219,mark@go2upullit.com,125.0,2025-08-27,2013,DODG,AVENGER,4013.00,4311.90,4,1829
4,Dismantler,FL,59312325,311841,qualityautousa@gmail.com,23600.0,2025-08-07,2021,BMW,M5,78939.46,51102.44,17,1626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1872707,Dismantler,TX,64282385,85333,susiedavis1956@msn.com,4250.0,2025-09-25,2020,JEP,WRANGLER,28180.00,0.00,16,56
1872708,General Business,AK,64856955,25997,canwetradetogether@gmail.com,5800.0,2025-09-25,2020,JEP,WRANGLER,28637.00,16335.57,9,127
1872709,Dismantler,GA,70167765,90195,alsalahat1@gmail.com,3100.0,2025-09-19,2011,JEP,WRANGLER,0.00,0.00,11,2448
1872710,Consumer,KY,60941985,86729,86729cprt_dmmy_MASTERBDR_75225_344013@copart.com,3000.0,2025-08-19,2010,JEP,WRANGLER,16826.00,0.00,16,51
1872711,Consumer,FL,68889025,645763,251973-MSTRBDR-0bf4ba67-6ac0-4be5-9c08-fbc056e...,3500.0,2025-08-21,2014,JEP,WRANGLER,18000.00,0.00,5,7

In [10]:
data_high_test[data_high_test['buyer_nbr']==1345]

,mbr_lic_type,mbr_state,lot_nbr,buyer_nbr,mbr_email,max_bid,inv_dt,lot_year,lot_make_cd,grp_model,acv,repair_cost,total_unique_buyers_on_that_lot,total_unique_lots_bid_by_buyers
406925,Consumer,FL,59554675,1345,villarrealjoxi@gmail.com,2000.0,2025-07-14,2025,TOYT,CAMRY,34238.00,34238.00,3,11
415929,Consumer,FL,63744905,1345,villarrealjoxi@gmail.com,1550.0,2025-07-22,2017,TOYT,COROLLA,12701.00,9753.26,7,11
419842,Consumer,FL,57780675,1345,villarrealjoxi@gmail.com,4050.0,2025-07-31,2020,TOYT,COROLLA,11877.00,9828.12,20,11
746330,Consumer,FL,61644155,1345,villarrealjoxi@gmail.com,2550.0,2025-07-21,2017,HOND,ACCORD,14119.00,9168.44,6,11
830528,Consumer,FL,54437645,1345,villarrealjoxi@gmail.com,5600.0,2025-07-22,2023,TOYT,CAMRY,24113.00,13529.60,13,11
852378,Consumer,FL,59912645,1345,villarrealjoxi@gmail.com,1000.0,2025-07-15,2013,TOYT,CAMRY,10315.00,7515.70,11,11
967580,Consumer,FL,61754435,1345,villarrealjoxi@gmail.com,1000.0,2025-07-28,2018,TOYT,CAMRY,20256.00,15149.04,14,11
1237887,Consumer,FL,61191185,1345,villarrealjoxi@gmail.com,2150.0,2025-07-22,2021,TOYT,COROLLA,15296.00,14989.10,5,11
1250246,Consumer,FL,62986045,1345,villarrealjoxi@gmail.com,3000.0,2025-07-24,2020,TOYT,COROLLA,8448.00,0.00,8,11
1350249,Consumer,FL,63264125,1345,villarrealjoxi@gmail.com,2550.0,2025-07-22,2020,FORD,F150,28902.00,16342.72,15,11
1809305,Consumer,FL,58588555,1345,villarrealjoxi@gmail.com,4950.0,2025-07-15,2024,TOYT,TACOMA,36311.83,17751.95,14,11

In [11]:
data_high_test.isnull().sum()

mbr_lic_type                       0
mbr_state                          0
lot_nbr                            0
buyer_nbr                          0
mbr_email                          0
max_bid                            0
inv_dt                             0
lot_year                           0
lot_make_cd                        0
grp_model                          0
acv                                0
repair_cost                        0
total_unique_buyers_on_that_lot    0
total_unique_lots_bid_by_buyers    0
dtype: int64

In [12]:
### To include only popular lots
#data_high_test = data_high_test[(data_high_test['total_unique_buyers_on_that_lot']>=10)]
print(data_high_test['buyer_nbr'].nunique())
print(data_high_test['lot_nbr'].nunique())

16509
681838

In [13]:
### Build the buyer-lot matrix
#buyer_lot_matrix = data_high.pivot_table(
#    index='buyer_nbr',
#    columns='lot_nbr',
#    values='max_bid',
#    fill_value=0
#)

#buyer_lot_matrix = buyer_lot_matrix.astype(int)
#buyer_lot_matrix

### Traditional matrix will not be optimal. Hence creating CSR matrix

In [14]:
### CSR matrix

from scipy.sparse import csr_matrix
from sklearn.preprocessing import LabelEncoder

buyer_encoder = LabelEncoder()
lot_encoder = LabelEncoder()

buyer_ids = buyer_encoder.fit_transform(data_high_test['buyer_nbr'])
lot_ids = lot_encoder.fit_transform(data_high_test['lot_nbr'])

# Max bid values for matrix
max_bid_values = data_high_test['max_bid'].fillna(0).astype(float)

# Create CSR matrix (buyers as rows, lots as columns)
n_buyers = len(buyer_encoder.classes_)
n_lots = len(lot_encoder.classes_)

buyer_lot_max_bid_sparse = csr_matrix(
    (max_bid_values, (buyer_ids, lot_ids)),
    shape=(n_buyers, n_lots)
)

print(buyer_lot_max_bid_sparse.shape)

(16509, 681838)

In [15]:
from implicit.als import AlternatingLeastSquares

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [16]:
als_model = AlternatingLeastSquares(
    factors=32,         # Embedding dimension
    regularization=0.5, # Controls overfitting
    iterations=30,      # Number of ALS training iterations
    use_gpu=False       # Set to True if you want to use GPU
)

# ALS expects (items x users), so transpose
# Implicit also assumes higher values = higher confidence
als_model.fit(buyer_lot_max_bid_sparse)

100%|██████████| 30/30 [00:15<00:00,  1.88it/s]

In [17]:
import faiss
import numpy as np

# Step 1: Normalize buyer embeddings
buyer_embeddings = als_model.user_factors.astype('float32')  # shape (n_buyers, dim)
lot_embeddings = als_model.item_factors.astype('float32')  # shape: (n_lots, dim)

# Step 2: Normalize both embeddings for cosine similarity
faiss.normalize_L2(buyer_embeddings)  # in-place normalization
faiss.normalize_L2(lot_embeddings)    # normalize lots too!

# Step 2: Create FAISS index (cosine similarity is L2 on normalized vectors)
faiss_index = faiss.IndexFlatIP(buyer_embeddings.shape[1])  # IP = inner product
faiss_index.add(buyer_embeddings)  # Add all buyer vectors to index

#### Get similar buyers

In [18]:
def get_similar_buyers_faiss(input_buyer_id, top_k=5):
    if input_buyer_id not in buyer_encoder.classes_:
        raise ValueError("Buyer not in training data")

    internal_buyer_id = buyer_encoder.transform([input_buyer_id])[0]

    # Step 1: Get embedding of input buyer
    query_vec = als_model.user_factors[internal_buyer_id].astype('float32').reshape(1, -1)
    faiss.normalize_L2(query_vec)  # normalize for cosine

    # Step 2: Search FAISS index
    distances, indices = faiss_index.search(query_vec, top_k + 1)  # +1 to exclude self
    similar_ids = indices[0]

    # Step 3: Remove the buyer themselves if present
    similar_ids = [i for i in similar_ids if i != internal_buyer_id][:top_k]

    # Decode to original buyer_nbrs
    similar_buyers = buyer_encoder.inverse_transform(similar_ids)

    return similar_buyers

In [19]:
similar_buyers = get_similar_buyers_faiss(75, top_k=5)

In [20]:
similar_buyers

array([833355, 125863, 193427, 643247, 739205])

In [21]:
import numpy as np
import pandas as pd

def recommend_lots_cosine_from_similar_buyers(input_buyer_id, top_k_buyers=5, top_k_lots=6):
    # Step 1: Get similar buyers
    similar_buyers = get_similar_buyers_faiss(input_buyer_id, top_k=top_k_buyers)

    # Step 2: Get lots interacted by similar buyers
    sim_buyer_lots = data_high_test[data_high_test['buyer_nbr'].isin(similar_buyers)]
    candidate_lot_ids = sim_buyer_lots['lot_nbr'].unique()

    # Step 3: Remove lots already interacted by the input buyer
    input_buyer_lot_ids = data_high_test[data_high_test['buyer_nbr'] == input_buyer_id]['lot_nbr'].unique()
    candidate_lot_ids = list(set(candidate_lot_ids) - set(input_buyer_lot_ids))

    if not candidate_lot_ids:
        return pd.DataFrame()  # No candidates to recommend

   # Step 4: Get buyer and lot embeddings (already normalized)
    input_buyer_idx = buyer_encoder.transform([input_buyer_id])[0]
    buyer_vec = buyer_embeddings[input_buyer_idx].reshape(1, -1)
    lot_indices = lot_encoder.transform(candidate_lot_ids)
    lot_vecs = lot_embeddings[lot_indices]

    # Step 5: Cosine similarity = dot product of normalized vectors
    cosine_scores = np.dot(lot_vecs, buyer_vec.T).flatten()

    # Step 6: Select top N lots with highest cosine score
    top_indices = np.argsort(-cosine_scores)[:top_k_lots]
    top_lot_ids = [candidate_lot_ids[i] for i in top_indices]
    top_scores = cosine_scores[top_indices]

    # Step 7: Build output
    top_rows = []
    for lot_id, score in zip(top_lot_ids, top_scores):
        row = data_high_test[data_high_test['lot_nbr'] == lot_id].iloc[0]
        top_rows.append({
            'input_buyer_nbr': input_buyer_id,
            'mbr_email': row['mbr_email'],
            'recommended_lot': lot_id,
            'lot_year': row['lot_year'],
            'lot_make_cd': row['lot_make_cd'],
            'grp_model': row['grp_model'],
            'acv': row['acv'],
            'repair_cost': row['repair_cost'],
            'cosine_similarity': score
        })

    return pd.DataFrame(top_rows)

In [22]:
from tqdm import tqdm

all_buyers = data_high_test['buyer_nbr'].unique()
all_recos = []

for buyer in tqdm(all_buyers):
    try:
        df = recommend_lots_cosine_from_similar_buyers(buyer)
        all_recos.append(df)
    except Exception as e:
        print(f"⚠️ Error for buyer {buyer}: {e}")

recommendations_df = pd.concat(all_recos, ignore_index=True)

100%|██████████| 16509/16509 [07:21<00:00, 37.38it/s]

In [23]:
recommendations_df_copy = recommendations_df.copy()

In [24]:
recommendations_df_copy

,input_buyer_nbr,mbr_email,recommended_lot,lot_year,lot_make_cd,grp_model,acv,repair_cost,cosine_similarity
0,307475,13603075-MSTRBDR-13eff8bb-4dff-46a2-a429-d0dcb...,48149305,2017,DODG,CARAVAN,9086.41,0.00,0.928769
1,307475,13603075-MSTRBDR-13eff8bb-4dff-46a2-a429-d0dcb...,86422104,2005,CHRY,MINIVAN,1048.00,6146.25,0.926297
2,307475,13603075-MSTRBDR-13eff8bb-4dff-46a2-a429-d0dcb...,62759345,2005,HOND,ACCORD,0.00,0.00,0.926297
3,307475,13603075-MSTRBDR-13eff8bb-4dff-46a2-a429-d0dcb...,80197745,2007,PONT,VIBE,3179.87,5438.43,0.926297
4,307475,riversidestl@yahoo.com,64953595,2007,FORD,FOCUS,3114.41,3114.41,0.926276
...,...,...,...,...,...,...,...,...,...
99049,158785,poporai@yahoo.com,67091135,2009,HOND,FIT,4208.00,0.00,0.826939
99050,158785,eliteautoflorida@gmail.com,58541835,2014,KIA,SOUL,7522.00,6220.39,0.825459
99051,158785,chapinesautosales@gmail.com,66402515,2008,JEP,WRANGLER,14352.00,9629.90,0.803930
99052,158785,ariasefra123@gmail.com,62202005,2018,KIA,SPORTAGE,10559.00,15668.46,0.802559
99053,158785,mafeauto@hotmail.com,81025775,2012,SUBA,IMPREZA,1495.00,0.00,0.801895

In [37]:
recommendations_df_copy[recommendations_df_copy['input_buyer_nbr']==16882]

Empty DataFrame
Columns: [input_buyer_nbr, mbr_email, recommended_lot, lot_year, lot_make_cd, grp_model, acv, repair_cost, cosine_similarity]
Index: []

In [26]:
recommendations_df_copy['input_buyer_nbr'].nunique()

16509

In [241]:
import numpy as np
from sklearn.metrics import mean_squared_error

def calculate_rmse(als_model, interaction_matrix, sample_size=100_000, random_state=42):
    # nonzero entries (buyer, lot, true value)
    users, items = interaction_matrix.nonzero()
    vals = interaction_matrix.data.astype(np.float64)
    n = len(vals)
    if n == 0:
        raise ValueError("interaction_matrix has no non-zero entries")

    # sample for speed
    rng = np.random.default_rng(random_state)
    if sample_size and sample_size < n:
        idx = rng.choice(n, size=sample_size, replace=False)
    else:
        idx = np.arange(n)

    u_idx = users[idx]
    i_idx = items[idx]
    y_true = vals[idx]

    # ALS predictions = dot(user_vec, item_vec)
    u_vecs = als_model.user_factors[u_idx]
    i_vecs = als_model.item_factors[i_idx]
    y_pred = np.einsum("ij,ij->i", u_vecs, i_vecs)

    # sklearn-compatible RMSE (works on old/new versions)
    try:
        # new sklearn
        rmse = mean_squared_error(y_true, y_pred, squared=False)
    except TypeError:
        # old sklearn
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))

    return float(rmse)

In [242]:
rmse_value = calculate_rmse(als_model, buyer_lot_max_bid_sparse, sample_size=50000)
print(f"ALS RMSE: {rmse_value:.4f}")

ALS RMSE: 6120.7087

#### Future lots

In [27]:
data2 = pd.read_csv('data/interim/future_lots.csv')

In [28]:
data2

,lot_nbr,lot_year,lot_make_cd,grp_model,damage_type_desc,repair_cost,acv,auc_dt,proquote_amt
0,71239515,2017,VOLK,PASSAT,FRONT END,9251.75,9841.73,2025-10-14,2544.05
1,81929665,2013,HYUN,VELOSTER,FRONT END,0.00,4250.00,2025-10-14,1225.38
2,67987075,2016,SUBA,CROSSTREK,FRAME DAMAGE,6898.95,7043.00,2025-10-15,1722.39
3,81834465,2012,CADI,CTS,FRONT END,0.00,608.00,2025-10-16,503.58
4,65324015,2014,CHEV,SONIC,FRONT END,3261.53,3927.00,2025-10-15,679.09
...,...,...,...,...,...,...,...,...,...
44707,84478595,2017,JEP,WRANGLER,REAR END,0.00,0.00,2025-10-14,10884.31
44708,69480705,2019,JEP,WRANGLER,REJECTED REPAIR,15088.55,19247.00,2025-10-14,9896.34
44709,67549015,1998,JEP,WRANGLER,SIDE,10316.37,8457.48,2025-10-17,1334.83
44710,81210975,2019,JEP,WRANGLER,SIDE,28172.36,33560.00,2025-10-17,13111.74
44711,81143085,2010,JEP,WRANGLER,VANDALISM,0.00,10958.00,2025-10-16,3732.20

In [29]:
data2.isnull().sum()

lot_nbr             0
lot_year            0
lot_make_cd         0
grp_model           0
damage_type_desc    0
repair_cost         0
acv                 0
auc_dt              0
proquote_amt        0
dtype: int64

In [30]:
from sklearn.metrics.pairwise import manhattan_distances
from concurrent.futures import ThreadPoolExecutor, as_completed
import pandas as pd
import numpy as np

# --- Step 1: Define per-row function
def process_row(row_dict, data2_df):
    year, make, model = row_dict['lot_year'], row_dict['lot_make_cd'], row_dict['grp_model']
    acv, repair = row_dict['acv'], row_dict['repair_cost']
    input_vec = np.array([[acv, repair]])

    # Step 1: Try YMM match
    ymm_match = data2_df[
        (data2_df['lot_year'] == year) &
        (data2_df['lot_make_cd'] == make) &
        (data2_df['grp_model'] == model)
    ]

    candidates = ymm_match.copy() if not ymm_match.empty else data2_df.copy()
    candidate_vecs = candidates[['acv', 'repair_cost']].values
    candidates['manhattan_dist'] = manhattan_distances(candidate_vecs, input_vec).flatten()
    best_match = candidates.sort_values('manhattan_dist').iloc[0]

    return {
        'input_buyer_nbr': row_dict['input_buyer_nbr'],
        'original_lot': row_dict['recommended_lot'],
        'recommended_lot': best_match['lot_nbr'],
        'manhattan_distance': best_match['manhattan_dist']
    }

In [31]:
from tqdm import tqdm

def refine_recommendations_parallel(reco_df, data2_df, max_workers=4):
    results = []
    futures = []

    # Convert rows to dictionaries
    row_dicts = reco_df.to_dict(orient='records')

    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        for row in row_dicts:
            futures.append(executor.submit(process_row, row, data2_df))

        for f in tqdm(as_completed(futures), total=len(futures), desc="Refining recos"):
            try:
                results.append(f.result())
            except Exception as e:
                print(f"⚠️ Skipped one row due to: {e}")

    return pd.DataFrame(results)

In [32]:
recommended_upcoming_df_gt6 = refine_recommendations_parallel(recommendations_df_copy, data2, max_workers=6)

Refining recos: 100%|██████████| 99054/99054 [03:23<00:00, 486.23it/s]

In [33]:
recommended_upcoming_df_gt6

       input_buyer_nbr  original_lot  recommended_lot  manhattan_distance
0               649757      60636065         84830185             5675.00
1               899609      64392515         84652505             2802.82
2                23161      69325025         80529805             7603.50
3                17489      65848055         85109305             2354.89
4               163219      71311065         62193925              390.00
...                ...           ...              ...                 ...
99049           158785      62202005         81586785             3124.03
99050           158785      64753575         58865395              393.00
99051           158785      81025775         86291895             1190.00
99052           485249      60280545         81660015               39.00
99053           470235      66217935         80049965                0.00

[99054 rows x 4 columns]

In [34]:
recommendations_df_copy[recommendations_df_copy['input_buyer_nbr'] == 1345]

,input_buyer_nbr,mbr_email,recommended_lot,lot_year,lot_make_cd,grp_model,acv,repair_cost,cosine_similarity
88524,1345,Langarito48@gmail.com,42079414,2013,TOYT,CAMRY,14340.0,9371.00,0.764082
88525,1345,saymixauto@gmail.com,60263925,2019,HYUN,SONATA,10306.0,9185.41,0.702714
88526,1345,ajotacarsllc@gmail.com,59693655,2013,TOYT,CAMRY,11700.0,8244.51,0.693582
88527,1345,copelandearl22@gmail.com,64886805,2017,HYUN,TUCSON,4940.0,0.00,0.691156
88528,1345,dakitipizzeria@gmail.com,59755285,2023,HOND,CRV,23300.0,16861.00,0.678856
88529,1345,andreseliasherrera@gmail.com,53993675,2017,HYUN,SONATA,8878.0,0.00,0.669402

In [36]:
recommended_upcoming_df_gt6[recommended_upcoming_df_gt6['input_buyer_nbr'] == 1345]

       input_buyer_nbr  original_lot  recommended_lot  manhattan_distance
88522             1345      42079414         49286015             2637.87
88523             1345      59693655         68848965             1025.65
88524             1345      59755285         80655715             2552.04
88526             1345      60263925         80168505             1060.00
88527             1345      64886805         81440465             1495.00
88530             1345      53993675         83754195              627.26

In [251]:
recommended_upcoming_df_gt6.isnull().sum()

input_buyer_nbr       0
original_lot          0
recommended_lot       0
manhattan_distance    0
dtype: int64

In [252]:
recommended_upcoming_df_gt6['input_buyer_nbr'].nunique()

16509

In [197]:
recommended_upcoming_df_gt6.to_excel("data/processed/recommended_CF_test.xlsx", index=False)

#### Reco for holdout

In [253]:
data_high_holdout = pd.read_csv("data/interim/data_high_holdout.csv")
data_high_holdout.head()

,mbr_lic_type,mbr_state,lot_nbr,buyer_nbr,mbr_email,max_bid,inv_dt,lot_year,lot_make_cd,grp_model,acv,repair_cost,total_unique_buyers_on_that_lot,total_unique_lots_bid_by_buyers
0,Dealer,OH,69207575,18268,gmcautosale@gmail.com,2500.0,2025-09-23,2016,NISS,MAXIMA,9756.0,5215.90,5,244
1,General Business,CA,69213575,211748,ghafar_mushtaq@yahoo.com,3950.0,2025-08-28,2018,VOLK,GTI,22351.0,13044.91,3,506
2,Dealer,AR,56624205,268100,SKDAUTOMOTIVELLC@GMAIL.COM,2650.0,2025-07-14,2018,ACUR,MDX,21525.0,18404.81,11,367
3,Consumer,TN,81646595,307354,307354cprt_dmmy_MASTERBDR_774468_214128@copart...,1600.0,2025-10-01,2016,HOND,FIT,13499.0,14670.57,3,45200
4,Consumer,MN,58811955,735050,735050cprt_dmmy_MASTERBDR_271083_492777@copart...,1550.0,2025-09-02,2020,FORD,ALL OTHER,14624.0,17972.56,3,383

In [254]:
data_high_holdout['buyer_nbr'].nunique()

16733

In [255]:
data_high_holdout.isnull().sum()

mbr_lic_type                       0
mbr_state                          0
lot_nbr                            0
buyer_nbr                          0
mbr_email                          0
max_bid                            0
inv_dt                             0
lot_year                           0
lot_make_cd                        0
grp_model                          0
acv                                0
repair_cost                        0
total_unique_buyers_on_that_lot    0
total_unique_lots_bid_by_buyers    0
dtype: int64

In [256]:
### To include only popular lots
#data_high_holdout = data_high_holdout[(data_high_holdout['total_unique_buyers_on_that_lot']>=10)]
print(data_high_holdout['buyer_nbr'].nunique())
print(data_high_holdout['lot_nbr'].nunique())

16733
677540

In [257]:
### CSR matrix

from scipy.sparse import csr_matrix
from sklearn.preprocessing import LabelEncoder

buyer_encoder = LabelEncoder()
lot_encoder = LabelEncoder()

buyer_ids = buyer_encoder.fit_transform(data_high_holdout['buyer_nbr'])
lot_ids = lot_encoder.fit_transform(data_high_holdout['lot_nbr'])

# Max bid values for matrix
max_bid_values = data_high_holdout['max_bid'].fillna(0).astype(float)

# Create CSR matrix (buyers as rows, lots as columns)
n_buyers = len(buyer_encoder.classes_)
n_lots = len(lot_encoder.classes_)

buyer_lot_max_bid_sparse = csr_matrix(
    (max_bid_values, (buyer_ids, lot_ids)),
    shape=(n_buyers, n_lots)
)

print(buyer_lot_max_bid_sparse.shape)

(16733, 677540)

In [258]:
als_model = AlternatingLeastSquares(
    factors=32,         # Embedding dimension
    regularization=0.5, # Controls overfitting
    iterations=30,      # Number of ALS training iterations
    use_gpu=False       # Set to True if you want to use GPU
)

# ALS expects (items x users), so transpose
# Implicit also assumes higher values = higher confidence
als_model.fit(buyer_lot_max_bid_sparse)

100%|██████████| 30/30 [00:17<00:00,  1.76it/s]

In [259]:
import faiss
import numpy as np

# Step 1: Normalize buyer embeddings
buyer_embeddings = als_model.user_factors.astype('float32')  # shape (n_buyers, dim)
lot_embeddings = als_model.item_factors.astype('float32')  # shape: (n_lots, dim)

# Step 2: Normalize both embeddings for cosine similarity
faiss.normalize_L2(buyer_embeddings)  # in-place normalization
faiss.normalize_L2(lot_embeddings)    # normalize lots too!

# Step 2: Create FAISS index (cosine similarity is L2 on normalized vectors)
faiss_index = faiss.IndexFlatIP(buyer_embeddings.shape[1])  # IP = inner product
faiss_index.add(buyer_embeddings)  # Add all buyer vectors to index

In [260]:
def get_similar_buyers_faiss(input_buyer_id, top_k=5):
    if input_buyer_id not in buyer_encoder.classes_:
        raise ValueError("Buyer not in training data")

    internal_buyer_id = buyer_encoder.transform([input_buyer_id])[0]

    # Step 1: Get embedding of input buyer
    query_vec = als_model.user_factors[internal_buyer_id].astype('float32').reshape(1, -1)
    faiss.normalize_L2(query_vec)  # normalize for cosine

    # Step 2: Search FAISS index
    distances, indices = faiss_index.search(query_vec, top_k + 1)  # +1 to exclude self
    similar_ids = indices[0]

    # Step 3: Remove the buyer themselves if present
    similar_ids = [i for i in similar_ids if i != internal_buyer_id][:top_k]

    # Decode to original buyer_nbrs
    similar_buyers = buyer_encoder.inverse_transform(similar_ids)

    return similar_buyers

In [261]:
import numpy as np
import pandas as pd

def recommend_lots_cosine_from_similar_buyers(input_buyer_id, top_k_buyers=5, top_k_lots=6):
    # Step 1: Get similar buyers
    similar_buyers = get_similar_buyers_faiss(input_buyer_id, top_k=top_k_buyers)

    # Step 2: Get lots interacted by similar buyers
    sim_buyer_lots = data_high_holdout[data_high_holdout['buyer_nbr'].isin(similar_buyers)]
    candidate_lot_ids = sim_buyer_lots['lot_nbr'].unique()

    # Step 3: Remove lots already interacted by the input buyer
    input_buyer_lot_ids = data_high_holdout[data_high_holdout['buyer_nbr'] == input_buyer_id]['lot_nbr'].unique()
    candidate_lot_ids = list(set(candidate_lot_ids) - set(input_buyer_lot_ids))

    if not candidate_lot_ids:
        return pd.DataFrame()  # No candidates to recommend

   # Step 4: Get buyer and lot embeddings (already normalized)
    input_buyer_idx = buyer_encoder.transform([input_buyer_id])[0]
    buyer_vec = buyer_embeddings[input_buyer_idx].reshape(1, -1)
    lot_indices = lot_encoder.transform(candidate_lot_ids)
    lot_vecs = lot_embeddings[lot_indices]

    # Step 5: Cosine similarity = dot product of normalized vectors
    cosine_scores = np.dot(lot_vecs, buyer_vec.T).flatten()

    # Step 6: Select top N lots with highest cosine score
    top_indices = np.argsort(-cosine_scores)[:top_k_lots]
    top_lot_ids = [candidate_lot_ids[i] for i in top_indices]
    top_scores = cosine_scores[top_indices]

    # Step 7: Build output
    top_rows = []
    for lot_id, score in zip(top_lot_ids, top_scores):
        row = data_high_holdout[data_high_holdout['lot_nbr'] == lot_id].iloc[0]
        top_rows.append({
            'input_buyer_nbr': input_buyer_id,
            'recommended_lot': lot_id,
            'lot_year': row['lot_year'],
            'lot_make_cd': row['lot_make_cd'],
            'grp_model': row['grp_model'],
            'acv': row['acv'],
            'repair_cost': row['repair_cost'],
            'cosine_similarity': score
        })

    return pd.DataFrame(top_rows)

In [262]:
from tqdm import tqdm

all_buyers = data_high_holdout['buyer_nbr'].unique()
all_recos = []

for buyer in tqdm(all_buyers):
    try:
        df = recommend_lots_cosine_from_similar_buyers(buyer)
        all_recos.append(df)
    except Exception as e:
        print(f"⚠️ Error for buyer {buyer}: {e}")

recommendations_df = pd.concat(all_recos, ignore_index=True)

100%|██████████| 16733/16733 [07:26<00:00, 37.50it/s]

In [263]:
recommendations_df.isnull().sum()

input_buyer_nbr      0
recommended_lot      0
lot_year             0
lot_make_cd          0
grp_model            0
acv                  0
repair_cost          0
cosine_similarity    0
dtype: int64

In [264]:
recommendations_df['input_buyer_nbr'].nunique()

16733

In [265]:
recommendations_df_copy = recommendations_df.copy()

In [268]:
recommendations_df_copy['input_buyer_nbr'].nunique()

16733

In [269]:
recommended_upcoming_df_gt6_holdout = refine_recommendations_parallel(recommendations_df_copy, data2, max_workers=6)

Refining recos: 100%|██████████| 100398/100398 [05:03<00:00, 330.56it/s]

In [270]:
recommended_upcoming_df_gt6_holdout['input_buyer_nbr'].nunique()

16733

In [271]:
recommended_upcoming_df_gt6_holdout.to_excel('data/would_have/data_high_holdout_reco.xlsx', index=False)

In [4]:
import pandas as pd
abc = pd.read_excel('data/would_have/data_high_holdout_reco.xlsx')

In [6]:
abc[abc['input_buyer_nbr']==874]

       input_buyer_nbr  original_lot  recommended_lot  manhattan_distance
51611              874      48946665         55721435                 0.0
51612              874      68091495         67211035               489.0
51613              874      70177315         71881705              1758.0
51614              874      71475165         81166115               102.0
51616              874      70313225         84945365                65.0
51620              874      71310865         81430785                 0.0