In [3]:
import pandas as pd
popular_lots = pd.read_csv('data/interim/popular_lots.csv')

In [4]:
popular_lots

,buyer_type,mbr_state,lot_make_cd,grp_model,cnt,median_acv,median_repair_cost,model_rank,rank
0,Dealer,TX,NISS,SENTRA,4,12869.00,0.00,1,1
1,Dealer,TX,JEP,WRANGLER,2,26515.11,11974.95,1,2
2,Dealer,TX,BMW,4 SERIES,1,26481.00,25033.87,1,3
3,Dealer,TX,HOND,CRV,1,38924.00,0.00,1,4
4,Dealer,TX,FORD,FOCUS,1,7519.00,6124.27,1,5
...,...,...,...,...,...,...,...,...,...
1312,General Business,AZ,JEP,WRANGLER,1,22683.00,33296.82,1,2
1313,General Business,AZ,RAM,1500,1,23600.00,0.00,1,3
1314,General Business,AZ,MERZ,SPRINTER,1,91985.00,42286.00,1,4
1315,General Business,AZ,FORD,F150,1,0.00,0.00,1,5
1316,General Business,AZ,HYUN,PLAISADE,1,0.00,0.00,1,6

In [5]:
popular_lots['buyer_type'].value_counts()

buyer_type
Dealer              348
Consumer            294
Dismantler          269
General Business    246
Export              160
Name: count, dtype: int64

In [6]:
popular_lots[(popular_lots['buyer_type']=='Dealer') & (popular_lots['mbr_state']=='CA')]

,buyer_type,mbr_state,lot_make_cd,grp_model,cnt,median_acv,median_repair_cost,model_rank,rank
902,Dealer,CA,HOND,CIVIC,274,21104.00,16024.00,1,1
903,Dealer,CA,HOND,ACCORD,231,23553.00,15827.44,1,2
904,Dealer,CA,TESL,MODEL 3,220,22616.00,16143.74,1,3
905,Dealer,CA,TOYT,TACOMA,173,35380.07,23044.53,1,4
906,Dealer,CA,TOYT,CAMRY,168,23495.00,14004.00,1,5
907,Dealer,CA,TOYT,COROLLA,165,19127.00,12509.26,1,6
1278,Dealer,CA,TOYT,COROLLA,5,18096.00,0.00,1,1
1279,Dealer,CA,TESL,MODEL Y,3,32968.00,19946.04,1,2
1280,Dealer,CA,TESL,MODEL 3,3,24519.12,14798.50,1,3
1281,Dealer,CA,HOND,CIVIC,3,24698.00,19200.30,1,4
1282,Dealer,CA,VOLK,JETTA,3,16249.00,7035.00,1,5
1283,Dealer,CA,DODG,CHALLENGER,2,14900.00,0.00,1,6

In [7]:
popular_lots[(popular_lots['buyer_type']=='Dealer') & (popular_lots['mbr_state']=='CA')]['grp_model'].unique()

array(['CIVIC', 'ACCORD', 'MODEL 3', 'TACOMA', 'CAMRY', 'COROLLA',
       'MODEL Y', 'JETTA', 'CHALLENGER'], dtype=object)

In [8]:
popular_lots.shape

(1317, 9)

In [9]:
popular_lots_sorted = (
    popular_lots
    .sort_values(['buyer_type', 'mbr_state', 'cnt'], ascending=[True, True, False])
    .drop_duplicates(subset=['buyer_type', 'mbr_state', 'lot_make_cd', 'grp_model'])  # de-duplicate same model
)

# Recalculate clean rank
popular_lots_sorted['rank_clean'] = (
    popular_lots_sorted
    .groupby(['buyer_type', 'mbr_state'])
    .cumcount() + 1
)

# Keep only top 6
popular_lots_top6 = popular_lots_sorted[popular_lots_sorted['rank_clean'] <= 6]

In [10]:
popular_lots_top6[(popular_lots_top6['buyer_type']=='Dealer') & (popular_lots_top6['mbr_state']=='CA')]

,buyer_type,mbr_state,lot_make_cd,grp_model,cnt,median_acv,median_repair_cost,model_rank,rank,rank_clean
902,Dealer,CA,HOND,CIVIC,274,21104.00,16024.00,1,1,1
903,Dealer,CA,HOND,ACCORD,231,23553.00,15827.44,1,2,2
904,Dealer,CA,TESL,MODEL 3,220,22616.00,16143.74,1,3,3
905,Dealer,CA,TOYT,TACOMA,173,35380.07,23044.53,1,4,4
906,Dealer,CA,TOYT,CAMRY,168,23495.00,14004.00,1,5,5
907,Dealer,CA,TOYT,COROLLA,165,19127.00,12509.26,1,6,6

In [11]:
popular_lots_top6.isnull().sum()

buyer_type            0
mbr_state             0
lot_make_cd           0
grp_model             0
cnt                   0
median_acv            0
median_repair_cost    0
model_rank            0
rank                  0
rank_clean            0
dtype: int64

In [12]:
not_active_bidders_test = pd.read_csv('data/interim/not_active_bidders_test.csv')

In [13]:
not_active_bidders_test

      mbr_lic_type mbr_state  mbr_nbr                        mbr_email
0         Consumer        SD   825681          jamestoney3@hotmail.com
1         Consumer        DE   645351              Rockdjr316m@aol.com
2         Consumer        NH   776575         suroyanehemiah@gmail.com
3           Export        PR   591581           cfuentes1091@gmail.com
4         Consumer        ND    75729             asolis9498@gmail.com
...            ...       ...      ...                              ...
72727     Consumer        WI   689073  donnyganz3dracecars@hotmail.com
72728     Consumer        WI   585061       john.e.neighbors@gmail.com
72729       Dealer        WI   360911   chrisgjacobyautobody@gmail.com
72730     Consumer        WI   260451                tomasz@korwel.net
72731     Consumer        WI   932901            Ksheikh0418@gmail.com

[72732 rows x 4 columns]

In [14]:
not_active_bidders_test['mbr_nbr'].nunique()

72732

In [15]:
not_active_bidders_test.isnull().sum()

mbr_lic_type    0
mbr_state       0
mbr_nbr         0
mbr_email       0
dtype: int64

In [16]:
not_active_bidders_test['mbr_lic_type'].value_counts()

mbr_lic_type
Consumer                       66624
Dealer                          3678
General Business                1226
Dismantler                       589
Export                           409
Automotive Related Business      206
Name: count, dtype: int64

In [17]:
not_active_bidders_test['mbr_lic_type'] = not_active_bidders_test['mbr_lic_type'].replace('Automotive Related Business', 'General Business')

In [18]:
not_active_bidders_test['mbr_lic_type'].value_counts()

mbr_lic_type
Consumer            66624
Dealer               3678
General Business     1432
Dismantler            589
Export                409
Name: count, dtype: int64

In [19]:
not_active_bidders_test.rename(columns={'mbr_lic_type': 'buyer_type'}, inplace=True)

In [20]:
not_active_bidders_test

      buyer_type mbr_state  mbr_nbr                        mbr_email
0       Consumer        SD   825681          jamestoney3@hotmail.com
1       Consumer        DE   645351              Rockdjr316m@aol.com
2       Consumer        NH   776575         suroyanehemiah@gmail.com
3         Export        PR   591581           cfuentes1091@gmail.com
4       Consumer        ND    75729             asolis9498@gmail.com
...          ...       ...      ...                              ...
72727   Consumer        WI   689073  donnyganz3dracecars@hotmail.com
72728   Consumer        WI   585061       john.e.neighbors@gmail.com
72729     Dealer        WI   360911   chrisgjacobyautobody@gmail.com
72730   Consumer        WI   260451                tomasz@korwel.net
72731   Consumer        WI   932901            Ksheikh0418@gmail.com

[72732 rows x 4 columns]

In [21]:
# Step 3: Merge with buyers using cross join logic per group
merged = not_active_bidders_test.merge(
    popular_lots_top6,
    on=['buyer_type', 'mbr_state'],
    how='inner'
)

# Step 4: Format initial recommendations
initial_recommendations = merged[[
    'mbr_nbr', 'mbr_email', 'buyer_type', 'mbr_state',
    'lot_make_cd', 'grp_model', 'rank', 'rank_clean',
    'median_acv', 'median_repair_cost'
]]

# Step 5: Ensure 6 recommendations per buyer, fallback if fewer
final_reco_list = []

# Track which buyers have been processed
processed_buyers = set()

grouped = initial_recommendations.groupby('mbr_nbr')

for mbr_nbr, group in grouped:
    buyer_type = group['buyer_type'].iloc[0]
    mbr_email = group['mbr_email'].iloc[0]
    mbr_state = group['mbr_state'].iloc[0]

    recos = group.sort_values('rank_clean').to_dict('records')
    processed_buyers.add(mbr_nbr)

    # Fallback if <6 using group-level popular lots
    if len(recos) < 6:
        needed = 6 - len(recos)

        fallback_pool = (
            popular_lots_top6[popular_lots_top6['buyer_type'] == buyer_type]
            .sort_values('rank_clean')
        )

        already_recoed = {(r['lot_make_cd'], r['grp_model']) for r in recos}

        for _, row in fallback_pool.iterrows():
            key = (row['lot_make_cd'], row['grp_model'])
            if key in already_recoed:
                continue

            recos.append({
                'mbr_nbr': mbr_nbr,
                'mbr_email': mbr_email,
                'buyer_type': buyer_type,
                'mbr_state': mbr_state,
                'lot_make_cd': row['lot_make_cd'],
                'grp_model': row['grp_model'],
                'rank': row.get('rank'),
                'rank_clean': row.get('rank_clean'),
                'median_acv': row.get('median_acv'),
                'median_repair_cost': row.get('median_repair_cost')
            })

            already_recoed.add(key)
            if len(recos) == 6:
                break

    final_reco_list.extend(recos)

# Step 5.1: Handle buyers who received 0 recommendations (i.e., not merged at all)
missing_mbrs = set(not_active_bidders_test['mbr_nbr'].unique()) - processed_buyers
fallback_missing = not_active_bidders_test[not_active_bidders_test['mbr_nbr'].isin(missing_mbrs)]

for _, row in fallback_missing.iterrows():
    mbr_nbr = row['mbr_nbr']
    mbr_email = row['mbr_email']
    buyer_type = row['buyer_type']
    mbr_state = row['mbr_state']

    fallback_pool = (
        popular_lots_top6[popular_lots_top6['buyer_type'] == buyer_type]
        .sort_values('cnt', ascending=False)
        .drop_duplicates(subset=['lot_make_cd', 'grp_model'])  # avoid duplicates
        .head(6)
    )

    for _, lot in fallback_pool.iterrows():
        final_reco_list.append({
            'mbr_nbr': mbr_nbr,
            'mbr_email': mbr_email,
            'buyer_type': buyer_type,
            'mbr_state': mbr_state,
            'lot_make_cd': lot['lot_make_cd'],
            'grp_model': lot['grp_model'],
            'rank': lot.get('rank'),
            'rank_clean': lot.get('rank_clean'),
            'median_acv': lot.get('median_acv'),
            'median_repair_cost': lot.get('median_repair_cost')
        })

# Step 6: Final DataFrame
final_recommendations = pd.DataFrame(final_reco_list).sort_values(by=['mbr_nbr', 'rank_clean'])

In [22]:
final_recommendations

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
0,1,MCNILR@QA-COPART-TEST.COM,Dealer,IA,CHEV,MALIBU,1,1,12951.0,8942.06
1,1,MCNILR@QA-COPART-TEST.COM,Dealer,IA,CHEV,SILVERADO,2,2,37468.0,19498.12
2,1,MCNILR@QA-COPART-TEST.COM,Dealer,IA,CHEV,EQUINOX,3,3,13845.0,11142.81
3,1,MCNILR@QA-COPART-TEST.COM,Dealer,IA,CHEV,CRUZE,4,4,9165.0,7360.48
4,1,MCNILR@QA-COPART-TEST.COM,Dealer,IA,FORD,ESCAPE,5,5,13105.0,10572.42
...,...,...,...,...,...,...,...,...,...,...
435979,999993,copartarchivebuyerdnd@qa-copart-test.com,Consumer,TX,CHEV,SILVERADO,2,2,27429.0,16954.35
435980,999993,copartarchivebuyerdnd@qa-copart-test.com,Consumer,TX,NISS,ROGUE,3,3,12427.0,11090.94
435981,999993,copartarchivebuyerdnd@qa-copart-test.com,Consumer,TX,CHEV,EQUINOX,4,4,12527.0,9855.46
435982,999993,copartarchivebuyerdnd@qa-copart-test.com,Consumer,TX,TOYT,CAMRY,5,5,21164.0,15138.40
435983,999993,copartarchivebuyerdnd@qa-copart-test.com,Consumer,TX,CHEV,MALIBU,6,6,11657.0,10002.85

In [23]:
final_recommendations[final_recommendations['mbr_nbr']==421323]

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
176796,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,FORD,F150,1,1,56106.0,35438.57
176799,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,JEP,RENEGADE,1,1,9460.0,5197.90
176800,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,HOND,CRV,1,1,24003.0,19374.17
176801,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,TOYT,COROLLA,1,1,13306.0,9878.37
176797,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,CHEV,SILVERADO,2,2,27070.0,5770.81
176798,421323,MALMAR4X4@GMAIL.COM,Consumer,VT,PORS,911,3,3,268499.0,0.00

In [24]:
final_recommendations['mbr_nbr'].value_counts()

mbr_nbr
1         6
682499    6
682579    6
682537    6
682535    6
         ..
343491    6
343521    6
343535    6
343537    6
999993    6
Name: count, Length: 72732, dtype: int64

In [25]:
not_active_bidders_test['mbr_nbr'].nunique()

72732

In [26]:
final_recommendations['mbr_email'].nunique()

72732

In [27]:
final_recommendations[final_recommendations['mbr_nbr']==113135]

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
52296,113135,tnewbern09@gmail.com,General Business,NC,TOYT,TACOMA,1,1,42895.0,0.00
52297,113135,tnewbern09@gmail.com,General Business,NC,JEP,CHEROKEE,1,1,0.0,0.00
52298,113135,tnewbern09@gmail.com,General Business,NC,NISS,SENTRA,1,1,0.0,0.00
52299,113135,tnewbern09@gmail.com,General Business,NC,TOYT,RAV4,1,1,16465.0,16465.00
52300,113135,tnewbern09@gmail.com,General Business,NC,TOYT,COROLLA,1,1,15335.0,8578.95
52301,113135,tnewbern09@gmail.com,General Business,NC,BUIC,ENVISION,1,1,15895.0,9520.92

In [28]:
popular_lots_top6[(popular_lots_top6['buyer_type']=='General Business') & (popular_lots_top6['mbr_state']=='NC')]

,buyer_type,mbr_state,lot_make_cd,grp_model,cnt,median_acv,median_repair_cost,model_rank,rank,rank_clean
780,General Business,NC,TOYT,TACOMA,1,42895.0,0.0,1,1,1

z### Upcoming lots

In [29]:
future_lots = pd.read_csv('data/interim/future_lots.csv')

In [30]:
future_lots

,lot_nbr,lot_year,lot_make_cd,grp_model,damage_type_desc,repair_cost,acv,auc_dt,proquote_amt
0,71239515,2017,VOLK,PASSAT,FRONT END,9251.75,9841.73,2025-10-14,2544.05
1,81929665,2013,HYUN,VELOSTER,FRONT END,0.00,4250.00,2025-10-14,1225.38
2,67987075,2016,SUBA,CROSSTREK,FRAME DAMAGE,6898.95,7043.00,2025-10-15,1722.39
3,81834465,2012,CADI,CTS,FRONT END,0.00,608.00,2025-10-16,503.58
4,65324015,2014,CHEV,SONIC,FRONT END,3261.53,3927.00,2025-10-15,679.09
...,...,...,...,...,...,...,...,...,...
44707,84478595,2017,JEP,WRANGLER,REAR END,0.00,0.00,2025-10-14,10884.31
44708,69480705,2019,JEP,WRANGLER,REJECTED REPAIR,15088.55,19247.00,2025-10-14,9896.34
44709,67549015,1998,JEP,WRANGLER,SIDE,10316.37,8457.48,2025-10-17,1334.83
44710,81210975,2019,JEP,WRANGLER,SIDE,28172.36,33560.00,2025-10-17,13111.74
44711,81143085,2010,JEP,WRANGLER,VANDALISM,0.00,10958.00,2025-10-16,3732.20

In [31]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# Keep only relevant columns
future_filtered = future_lots[['lot_nbr', 'lot_make_cd', 'grp_model', 'acv', 'repair_cost']].copy()

results = []

# Loop through each buyer-lot recommendation
for idx, row in tqdm(final_recommendations.iterrows(), total=len(final_recommendations)):
    buyer_nbr = row['mbr_nbr']
    make = row['lot_make_cd']
    model = row['grp_model']
    acv = row['median_acv']
    repair = row['median_repair_cost']

    # Step 1: Exact match on make and model
    matching_lots = future_filtered[
        (future_filtered['lot_make_cd'] == make) &
        (future_filtered['grp_model'] == model)
    ]

    if not matching_lots.empty:
        # Step 2: Compute Manhattan distance for exact match
        distances = np.abs(matching_lots['acv'] - acv) + np.abs(matching_lots['repair_cost'] - repair)
        min_idx = distances.idxmin()
        best_lot = matching_lots.loc[min_idx]
        distance_value = distances[min_idx]
    else:
        # Fallback: find best lot based on lowest Manhattan distance across all future lots
        distances = np.abs(future_filtered['acv'] - acv) + np.abs(future_filtered['repair_cost'] - repair)
        min_idx = distances.idxmin()
        best_lot = future_filtered.loc[min_idx]
        distance_value = distances[min_idx]

    # Save result (works for both exact and fallback cases)
    results.append({
        'mbr_nbr': buyer_nbr,
        'lot_make_cd': make,
        'grp_model': model,
        'recommended_lot_nbr': best_lot['lot_nbr'],
        'matched_lot_make_cd': best_lot['lot_make_cd'],
        'matched_grp_model': best_lot['grp_model'],
        'distance': distance_value
    })

  1%|▏         | 6112/436392 [00:12<14:53, 481.32it/s]

KeyboardInterrupt:

In [329]:
recommendation_output_df = pd.DataFrame(results)
recommendation_output_df

,mbr_nbr,lot_make_cd,grp_model,recommended_lot_nbr,matched_lot_make_cd,matched_grp_model,distance
0,1,CHEV,MALIBU,69134305,CHEV,MALIBU,480.94
1,1,CHEV,SILVERADO,70316735,CHEV,SILVERADO,818.53
2,1,CHEV,EQUINOX,70869825,CHEV,EQUINOX,203.97
3,1,CHEV,CRUZE,81004805,CHEV,CRUZE,710.48
4,1,FORD,ESCAPE,70107145,FORD,ESCAPE,398.49
...,...,...,...,...,...,...,...
436387,999993,CHEV,SILVERADO,65962825,CHEV,SILVERADO,621.10
436388,999993,NISS,ROGUE,65540865,NISS,ROGUE,48.06
436389,999993,CHEV,EQUINOX,81705935,CHEV,EQUINOX,508.46
436390,999993,TOYT,CAMRY,68474505,TOYT,CAMRY,151.72
436391,999993,CHEV,MALIBU,62050985,CHEV,MALIBU,736.59

In [330]:
recommendation_output_df['mbr_nbr'].nunique()

72732

In [331]:
not_active_bidders_test['mbr_nbr'].nunique()

72732

In [332]:
final_recommendations[(final_recommendations['buyer_type']=='Dealer') & (final_recommendations['mbr_state']=='CA')]

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
600,1263,qualitymotors2013@att.net,Dealer,CA,HOND,CIVIC,1,1,21104.00,16024.00
601,1263,qualitymotors2013@att.net,Dealer,CA,HOND,ACCORD,2,2,23553.00,15827.44
602,1263,qualitymotors2013@att.net,Dealer,CA,TESL,MODEL 3,3,3,22616.00,16143.74
603,1263,qualitymotors2013@att.net,Dealer,CA,TOYT,TACOMA,4,4,35380.07,23044.53
604,1263,qualitymotors2013@att.net,Dealer,CA,TOYT,CAMRY,5,5,23495.00,14004.00
...,...,...,...,...,...,...,...,...,...,...
435967,998511,michael.adetunji@yahoo.com,Dealer,CA,HOND,ACCORD,2,2,23553.00,15827.44
435968,998511,michael.adetunji@yahoo.com,Dealer,CA,TESL,MODEL 3,3,3,22616.00,16143.74
435969,998511,michael.adetunji@yahoo.com,Dealer,CA,TOYT,TACOMA,4,4,35380.07,23044.53
435970,998511,michael.adetunji@yahoo.com,Dealer,CA,TOYT,CAMRY,5,5,23495.00,14004.00
435971,998511,michael.adetunji@yahoo.com,Dealer,CA,TOYT,COROLLA,6,6,19127.00,12509.26

In [333]:
final_recommendations[final_recommendations['mbr_nbr']==4555]

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
2196,4555,desertstarautogroup@yahoo.com,Dealer,AZ,CHEV,SILVERADO,1,1,29482.78,20031.84
2197,4555,desertstarautogroup@yahoo.com,Dealer,AZ,HOND,CIVIC,2,2,20691.00,16195.99
2198,4555,desertstarautogroup@yahoo.com,Dealer,AZ,HOND,ACCORD,3,3,21138.00,14927.40
2199,4555,desertstarautogroup@yahoo.com,Dealer,AZ,RAM,1500,4,4,28914.00,19826.42
2200,4555,desertstarautogroup@yahoo.com,Dealer,AZ,TOYT,CAMRY,5,5,21246.00,14922.00
2201,4555,desertstarautogroup@yahoo.com,Dealer,AZ,HYUN,ELANTRA,6,6,12749.90,11097.69

In [334]:
popular_lots_top6[(popular_lots_top6['buyer_type']=='Dealer') & (popular_lots_top6['mbr_state']=='AZ')]

,buyer_type,mbr_state,lot_make_cd,grp_model,cnt,median_acv,median_repair_cost,model_rank,rank,rank_clean
847,Dealer,AZ,CHEV,SILVERADO,173,29482.78,20031.84,1,1,1
848,Dealer,AZ,HOND,CIVIC,121,20691.00,16195.99,1,2,2
849,Dealer,AZ,HOND,ACCORD,66,21138.00,14927.40,1,3,3
850,Dealer,AZ,RAM,1500,62,28914.00,19826.42,1,4,4
851,Dealer,AZ,TOYT,CAMRY,61,21246.00,14922.00,1,5,5
852,Dealer,AZ,HYUN,ELANTRA,58,12749.90,11097.69,1,6,6

In [225]:
recommendation_output_df[recommendation_output_df['mbr_nbr']==4555]

,mbr_nbr,lot_make_cd,grp_model,recommended_lot_nbr,matched_lot_make_cd,matched_grp_model,distance
2202,4555,CHEV,SILVERADO,65155515,CHEV,SILVERADO,847.23
2203,4555,HOND,CIVIC,60444805,HOND,CIVIC,350.42
2204,4555,HOND,ACCORD,66923505,HOND,ACCORD,492.86
2205,4555,TOYT,CAMRY,69629005,TOYT,CAMRY,492.46
2206,4555,RAM,1500,47445445,RAM,1500,1374.10
2207,4555,HYUN,ELANTRA,69465755,HYUN,ELANTRA,615.04

In [335]:
recommendation_output_df.to_excel("data/processed/recommended_popular_non_active_bidders_test.xlsx", index=False)

In [ ]:
recommendation_output_df.to_excel("data/would_have/recommended_popular_non_active_bidders_test.xlsx", index=False)

In [32]:
data_high_holdout = pd.read_csv('data/interim/data_high_holdout.csv')
data_low_holdout = pd.read_csv('data/interim/data_low_holdout.csv')
not_active_bidders_holdout = pd.read_csv('data/interim/not_active_bidders_holdout.csv')

In [69]:
data_high_holdout['identifier'] = 1
data_low_holdout['identifier'] = 2
not_active_bidders_holdout['identifier'] = 3

In [36]:
data_high_holdout['buyer_nbr'].nunique()

16733

In [37]:
data_low_holdout['buyer_nbr'].nunique()

23883

In [38]:
not_active_bidders_holdout['mbr_nbr'].nunique()

72663

In [42]:
import pandas as pd

# 1. Select and rename from data_high_holdout
high_df = data_high_holdout[['mbr_lic_type', 'mbr_state', 'buyer_nbr', 'mbr_email']].copy()
high_df.rename(columns={'buyer_nbr': 'mbr_nbr'}, inplace=True)

# 2. Select and rename from data_low_holdout
low_df = data_low_holdout[['mbr_lic_type', 'mbr_state', 'buyer_nbr', 'mbr_email']].copy()
low_df.rename(columns={'buyer_nbr': 'mbr_nbr'}, inplace=True)

# 3. Already has desired columns in not_active_bidders_holdout
inactive_df = not_active_bidders_holdout[['mbr_lic_type', 'mbr_state', 'mbr_nbr', 'mbr_email']].copy()

# 4. Combine all
holdout_group = pd.concat([high_df, low_df, inactive_df], ignore_index=True)

In [43]:
holdout_group

,mbr_lic_type,mbr_state,mbr_nbr,mbr_email
0,Dealer,OH,18268,gmcautosale@gmail.com
1,General Business,CA,211748,ghafar_mushtaq@yahoo.com
2,Dealer,AR,268100,SKDAUTOMOTIVELLC@GMAIL.COM
3,Consumer,TN,307354,307354cprt_dmmy_MASTERBDR_774468_214128@copart...
4,Consumer,MN,735050,735050cprt_dmmy_MASTERBDR_271083_492777@copart...
...,...,...,...,...
1988142,Consumer,WI,729542,scottkurzy@me.com
1988143,Dealer,WI,42104,mightymenag@gmail.com
1988144,Consumer,WI,806444,Taevonkb@gmail.com
1988145,Consumer,WI,18996,Rlee54129@gmail.com
1988146,Consumer,WI,639534,istionashields@gmail.com

In [44]:
holdout_group.rename(columns={
    'mbr_lic_type': 'buyer_type'
}, inplace=True)

In [45]:
holdout_group['mbr_nbr'].nunique()

111921

In [96]:
holdout_group[holdout_group['mbr_nbr']==866]

        buyer_type mbr_state  mbr_nbr                     mbr_email
6730        Dealer        ID      866  victorcapellan13@hotmail.com
38178       Dealer        ID      866  victorcapellan13@hotmail.com
47240       Dealer        ID      866  victorcapellan13@hotmail.com
78783       Dealer        ID      866  victorcapellan13@hotmail.com
104103      Dealer        ID      866  victorcapellan13@hotmail.com
...            ...       ...      ...                           ...
1846383     Dealer        ID      866  victorcapellan13@hotmail.com
1846677     Dealer        ID      866  victorcapellan13@hotmail.com
1846815     Dealer        ID      866  victorcapellan13@hotmail.com
1848857     Dealer        ID      866  victorcapellan13@hotmail.com
1852529     Dealer        ID      866  victorcapellan13@hotmail.com

[599 rows x 4 columns]

In [97]:
holdout_group = holdout_group.drop_duplicates(subset='mbr_nbr', keep='first')

In [98]:
holdout_group[holdout_group['mbr_nbr']==866]

     buyer_type mbr_state  mbr_nbr                     mbr_email
6730     Dealer        ID      866  victorcapellan13@hotmail.com

In [99]:
# Step 3: Merge with buyers using cross join logic per group
merged = holdout_group.merge(
    popular_lots_top6,
    on=['buyer_type', 'mbr_state'],
    how='inner'
)

# Step 4: Format initial recommendations
initial_recommendations = merged[[
    'mbr_nbr', 'mbr_email', 'buyer_type', 'mbr_state',
    'lot_make_cd', 'grp_model', 'rank', 'rank_clean',
    'median_acv', 'median_repair_cost'
]]

# Step 5: Ensure 6 recommendations per buyer, fallback if fewer
final_reco_list = []

# Track which buyers have been processed
processed_buyers = set()

grouped = initial_recommendations.groupby('mbr_nbr')

for mbr_nbr, group in grouped:
    buyer_type = group['buyer_type'].iloc[0]
    mbr_email = group['mbr_email'].iloc[0]
    mbr_state = group['mbr_state'].iloc[0]

    recos = group.sort_values('rank_clean').to_dict('records')
    processed_buyers.add(mbr_nbr)

    # Fallback if <6 using group-level popular lots
    if len(recos) < 6:
        needed = 6 - len(recos)

        fallback_pool = (
            popular_lots_top6[popular_lots_top6['buyer_type'] == buyer_type]
            .sort_values('rank_clean')
        )

        already_recoed = {(r['lot_make_cd'], r['grp_model']) for r in recos}

        for _, row in fallback_pool.iterrows():
            key = (row['lot_make_cd'], row['grp_model'])
            if key in already_recoed:
                continue

            recos.append({
                'mbr_nbr': mbr_nbr,
                'mbr_email': mbr_email,
                'buyer_type': buyer_type,
                'mbr_state': mbr_state,
                'lot_make_cd': row['lot_make_cd'],
                'grp_model': row['grp_model'],
                'rank': row.get('rank'),
                'rank_clean': row.get('rank_clean'),
                'median_acv': row.get('median_acv'),
                'median_repair_cost': row.get('median_repair_cost')
            })

            already_recoed.add(key)
            if len(recos) == 6:
                break

    final_reco_list.extend(recos)

# Step 5.1: Handle buyers who received 0 recommendations (i.e., not merged at all)
missing_mbrs = set(holdout_group['mbr_nbr'].unique()) - processed_buyers
fallback_missing = holdout_group[holdout_group['mbr_nbr'].isin(missing_mbrs)]

for _, row in fallback_missing.iterrows():
    mbr_nbr = row['mbr_nbr']
    mbr_email = row['mbr_email']
    buyer_type = row['buyer_type']
    mbr_state = row['mbr_state']

    fallback_pool = (
        popular_lots_top6[popular_lots_top6['buyer_type'] == buyer_type]
        .sort_values('cnt', ascending=False)
        .drop_duplicates(subset=['lot_make_cd', 'grp_model'])  # avoid duplicates
        .head(6)
    )

    for _, lot in fallback_pool.iterrows():
        final_reco_list.append({
            'mbr_nbr': mbr_nbr,
            'mbr_email': mbr_email,
            'buyer_type': buyer_type,
            'mbr_state': mbr_state,
            'lot_make_cd': lot['lot_make_cd'],
            'grp_model': lot['grp_model'],
            'rank': lot.get('rank'),
            'rank_clean': lot.get('rank_clean'),
            'median_acv': lot.get('median_acv'),
            'median_repair_cost': lot.get('median_repair_cost')
        })

# Step 6: Final DataFrame
final_recommendations = pd.DataFrame(final_reco_list).sort_values(by=['mbr_nbr', 'rank_clean'])

In [100]:
final_recommendations

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
0,4,godwinomoosagie@ymail.com,Consumer,NY,TESL,MODEL 3,1,1,23368.00,21130.38
1,4,godwinomoosagie@ymail.com,Consumer,NY,FORD,ESCAPE,2,2,14014.00,8420.92
2,4,godwinomoosagie@ymail.com,Consumer,NY,TESL,MODEL Y,3,3,30119.00,21993.42
3,4,godwinomoosagie@ymail.com,Consumer,NY,NISS,ROGUE,4,4,18046.00,14407.58
4,4,godwinomoosagie@ymail.com,Consumer,NY,VOLK,TIGUAN,5,5,14197.86,10210.00
...,...,...,...,...,...,...,...,...,...,...
668533,999678,bufddy@rogers.com,Consumer,OH,FORD,FUSION,2,2,12247.00,10268.00
668534,999678,bufddy@rogers.com,Consumer,OH,HOND,CRV,3,3,22565.00,18180.00
668535,999678,bufddy@rogers.com,Consumer,OH,CHEV,CRUZE,4,4,8440.00,5789.00
668536,999678,bufddy@rogers.com,Consumer,OH,HYUN,ELANTRA,5,5,9944.77,8640.22
668537,999678,bufddy@rogers.com,Consumer,OH,HOND,CIVIC,6,6,15197.00,14267.91

In [101]:
final_recommendations['mbr_nbr'].value_counts()

mbr_nbr
4         6
682044    6
682138    6
682136    6
682132    6
         ..
348338    6
348336    6
348322    6
348320    6
999678    6
Name: count, Length: 111524, dtype: int64

In [102]:
final_recommendations[final_recommendations['mbr_nbr']==874]

,mbr_nbr,mbr_email,buyer_type,mbr_state,lot_make_cd,grp_model,rank,rank_clean,median_acv,median_repair_cost
690,874,innaktc0102@gmail.com,Consumer,TN,FORD,ESCAPE,1,1,11684.0,10499.52
691,874,innaktc0102@gmail.com,Consumer,TN,CHEV,EQUINOX,2,2,13886.0,13758.80
692,874,innaktc0102@gmail.com,Consumer,TN,JEP,CHEROKEE,3,3,16128.0,15160.00
693,874,innaktc0102@gmail.com,Consumer,TN,HYUN,ELANTRA,4,4,13163.0,14000.00
694,874,innaktc0102@gmail.com,Consumer,TN,FORD,F150,5,5,24222.0,19884.37
695,874,innaktc0102@gmail.com,Consumer,TN,FORD,FUSION,6,6,11624.0,10806.86

In [103]:
final_recommendations['mbr_nbr'].nunique()

111524

In [104]:
future_lots.head()

,lot_nbr,lot_year,lot_make_cd,grp_model,damage_type_desc,repair_cost,acv,auc_dt,proquote_amt
0,71239515,2017,VOLK,PASSAT,FRONT END,9251.75,9841.73,2025-10-14,2544.05
1,81929665,2013,HYUN,VELOSTER,FRONT END,0.00,4250.00,2025-10-14,1225.38
2,67987075,2016,SUBA,CROSSTREK,FRAME DAMAGE,6898.95,7043.00,2025-10-15,1722.39
3,81834465,2012,CADI,CTS,FRONT END,0.00,608.00,2025-10-16,503.58
4,65324015,2014,CHEV,SONIC,FRONT END,3261.53,3927.00,2025-10-15,679.09

In [105]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# Convert to NumPy arrays early for speed
future_filtered = future_lots[['lot_nbr', 'lot_make_cd', 'grp_model', 'acv', 'repair_cost']].copy()
future_filtered[['acv', 'repair_cost']] = future_filtered[['acv', 'repair_cost']].fillna(0)

future_vecs = future_filtered[['acv', 'repair_cost']].to_numpy()

results = []

# Group future lots by (make, model) once to avoid repeated filtering
future_groups = {
    key: group.reset_index(drop=True)
    for key, group in future_filtered.groupby(['lot_make_cd', 'grp_model'])
}

# Main loop
for idx, row in tqdm(final_recommendations.iterrows(), total=len(final_recommendations)):
    buyer_nbr = row['mbr_nbr']
    make = row['lot_make_cd']
    model = row['grp_model']
    acv = row['median_acv']
    repair = row['median_repair_cost']
    input_vec = np.array([acv, repair])

    key = (make, model)

    if key in future_groups:
        group_df = future_groups[key]
        group_vecs = group_df[['acv', 'repair_cost']].to_numpy()
        distances = np.abs(group_vecs - input_vec).sum(axis=1)
        min_idx = distances.argmin()
        best_lot = group_df.iloc[min_idx]
        distance_value = distances[min_idx]
    else:
        # fallback to all
        distances = np.abs(future_vecs - input_vec).sum(axis=1)
        min_idx = distances.argmin()
        best_lot = future_filtered.iloc[min_idx]
        distance_value = distances[min_idx]

    # Append result
    results.append({
        'mbr_nbr': buyer_nbr,
        'lot_make_cd': make,
        'grp_model': model,
        'recommended_lot_nbr': best_lot['lot_nbr'],
        'matched_lot_make_cd': best_lot['lot_make_cd'],
        'matched_grp_model': best_lot['grp_model'],
        'distance': distance_value
    })

100%|██████████| 669144/669144 [01:07<00:00, 9941.89it/s]

In [106]:
recommendation_output_df = pd.DataFrame(results)
recommendation_output_df

,mbr_nbr,lot_make_cd,grp_model,recommended_lot_nbr,matched_lot_make_cd,matched_grp_model,distance
0,4,TESL,MODEL 3,71844035,TESL,MODEL 3,807.44
1,4,FORD,ESCAPE,71058985,FORD,ESCAPE,501.98
2,4,TESL,MODEL Y,68747425,TESL,MODEL Y,360.42
3,4,NISS,ROGUE,70116365,NISS,ROGUE,422.80
4,4,VOLK,TIGUAN,71526645,VOLK,TIGUAN,1482.14
...,...,...,...,...,...,...,...
669139,999678,FORD,FUSION,54846595,FORD,FUSION,553.57
669140,999678,HOND,CRV,69662125,HOND,CRV,457.06
669141,999678,CHEV,CRUZE,85155695,CHEV,CRUZE,776.14
669142,999678,HYUN,ELANTRA,80276245,HYUN,ELANTRA,203.10
669143,999678,HOND,CIVIC,67224545,HOND,CIVIC,372.81

In [107]:
recommendation_output_df['mbr_nbr'].nunique()

111524

In [108]:
recommendation_output_df.rename(columns={
    'mbr_nbr': 'input_buyer_nbr',
    'recommended_lot_nbr': 'recommended_lot'
}, inplace=True)

In [109]:
recommendation_output_df = recommendation_output_df[['input_buyer_nbr', 'recommended_lot']]

In [110]:
recommendation_output_df

        input_buyer_nbr  recommended_lot
0                     4         71844035
1                     4         71058985
2                     4         68747425
3                     4         70116365
4                     4         71526645
...                 ...              ...
669139           999678         54846595
669140           999678         69662125
669141           999678         85155695
669142           999678         80276245
669143           999678         67224545

[669144 rows x 2 columns]

In [111]:
import pandas as pd
import numpy as np

# ✅ Step 0: Ensure we work on a clean copy
df = recommendation_output_df[['input_buyer_nbr', 'recommended_lot']].copy()

# ✅ Step 1: Assign rank efficiently
# Use NumPy group index trick (much faster than groupby().cumcount())
df['rank'] = df.groupby('input_buyer_nbr', sort=False).cumcount().to_numpy() + 1

# ✅ Step 2: Filter only 6 lots per buyer (optional sanity check)
df = df[df['rank'] <= 6]

# ✅ Step 3: Convert to pivot (wide format) using pivot_table for stability
pivot_df = df.pivot_table(
    index='input_buyer_nbr',
    columns='rank',
    values='recommended_lot',
    aggfunc='first'
)

# ✅ Step 4: Rename columns
pivot_df.columns = [f'lot_{int(col)}' for col in pivot_df.columns]

# ✅ Step 5: Reset index
pivot_df = pivot_df.reset_index(drop=False)

In [112]:
pivot_df

,input_buyer_nbr,lot_1,lot_2,lot_3,lot_4,lot_5,lot_6
0,4,71844035,71058985,68747425,70116365,71526645,81106795
1,28,78445034,80804005,70993805,70869825,67410435,66995945
2,32,81211285,83784195,69472435,71107345,69781555,70676015
3,36,71539915,71619965,66929695,81411375,70951445,66323525
4,44,68881465,68675045,85568905,81337525,71908335,84210025
...,...,...,...,...,...,...,...
111519,998374,80868655,69634775,69029225,70566225,80202135,71515995
111520,998724,84928645,65540865,70722055,71499235,65234175,81488665
111521,999222,66262835,66924225,71794775,81587495,68726465,71716485
111522,999662,71090815,67931235,81676375,85137435,64178715,85277865
111523,999678,69343055,54846595,69662125,85155695,80276245,67224545

In [113]:
data_high_holdout['identifier'] = 1
data_low_holdout['identifier'] = 2
not_active_bidders_holdout['identifier'] = 3

# Step 2: Concatenate all into one lookup table
all_holdouts = pd.concat([
    data_high_holdout[['buyer_nbr', 'identifier']],
    data_low_holdout[['buyer_nbr', 'identifier']],
    not_active_bidders_holdout[['mbr_nbr', 'identifier']].rename(columns={'mbr_nbr': 'buyer_nbr'})
], axis=0)

# Drop duplicates just in case
all_holdouts = all_holdouts.drop_duplicates(subset=['buyer_nbr'])

# Step 3: Merge into pivot_df
pivot_df = pivot_df.copy()
pivot_df = pivot_df.merge(all_holdouts, how='left', left_on='input_buyer_nbr', right_on='buyer_nbr')

In [114]:
pivot_df

,input_buyer_nbr,lot_1,lot_2,lot_3,lot_4,lot_5,lot_6,buyer_nbr,identifier
0,4,71844035,71058985,68747425,70116365,71526645,81106795,4,3
1,28,78445034,80804005,70993805,70869825,67410435,66995945,28,1
2,32,81211285,83784195,69472435,71107345,69781555,70676015,32,3
3,36,71539915,71619965,66929695,81411375,70951445,66323525,36,3
4,44,68881465,68675045,85568905,81337525,71908335,84210025,44,3
...,...,...,...,...,...,...,...,...,...
111519,998374,80868655,69634775,69029225,70566225,80202135,71515995,998374,2
111520,998724,84928645,65540865,70722055,71499235,65234175,81488665,998724,2
111521,999222,66262835,66924225,71794775,81587495,68726465,71716485,999222,3
111522,999662,71090815,67931235,81676375,85137435,64178715,85277865,999662,3
111523,999678,69343055,54846595,69662125,85155695,80276245,67224545,999678,3

In [115]:
# Step 1: Add the 'group' column with value 'holdout'
pivot_df['group'] = 'holdout'

# Step 2: Reorder columns
# Grab current lot columns
lot_cols = [col for col in pivot_df.columns if col.startswith('lot_')]

# Reorder: identifier, group, buyer_nbr, lots...
pivot_df = pivot_df[['identifier', 'group', 'input_buyer_nbr'] + lot_cols]

In [116]:
pivot_df

,identifier,group,input_buyer_nbr,lot_1,lot_2,lot_3,lot_4,lot_5,lot_6
0,3,holdout,4,71844035,71058985,68747425,70116365,71526645,81106795
1,1,holdout,28,78445034,80804005,70993805,70869825,67410435,66995945
2,3,holdout,32,81211285,83784195,69472435,71107345,69781555,70676015
3,3,holdout,36,71539915,71619965,66929695,81411375,70951445,66323525
4,3,holdout,44,68881465,68675045,85568905,81337525,71908335,84210025
...,...,...,...,...,...,...,...,...,...
111519,2,holdout,998374,80868655,69634775,69029225,70566225,80202135,71515995
111520,2,holdout,998724,84928645,65540865,70722055,71499235,65234175,81488665
111521,3,holdout,999222,66262835,66924225,71794775,81587495,68726465,71716485
111522,3,holdout,999662,71090815,67931235,81676375,85137435,64178715,85277865
111523,3,holdout,999678,69343055,54846595,69662125,85155695,80276245,67224545

In [117]:
pivot_df[pivot_df['input_buyer_nbr']==874]

,identifier,group,input_buyer_nbr,lot_1,lot_2,lot_3,lot_4,lot_5,lot_6
115,1,holdout,874,85719615,70981435,68168125,67486995,69415325,46709085

In [118]:
pivot_df.to_csv("data/processed/recommended_holdout.csv",index=False)

### Would have for holdout

In [119]:
recommendation_output_df_holdout3 = pivot_df[(pivot_df['identifier']==3) & (pivot_df['group']=='holdout')]

In [120]:
recommendation_output_df_holdout3

,identifier,group,input_buyer_nbr,lot_1,lot_2,lot_3,lot_4,lot_5,lot_6
0,3,holdout,4,71844035,71058985,68747425,70116365,71526645,81106795
2,3,holdout,32,81211285,83784195,69472435,71107345,69781555,70676015
3,3,holdout,36,71539915,71619965,66929695,81411375,70951445,66323525
4,3,holdout,44,68881465,68675045,85568905,81337525,71908335,84210025
5,3,holdout,58,69348105,67137285,80547255,70657955,71840995,71223195
...,...,...,...,...,...,...,...,...,...
111517,3,holdout,997866,81310215,69115905,69314295,80196785,69968725,80653265
111518,3,holdout,998042,70699875,71411575,80532215,52292585,81106575,64622255
111521,3,holdout,999222,66262835,66924225,71794775,81587495,68726465,71716485
111522,3,holdout,999662,71090815,67931235,81676375,85137435,64178715,85277865
111523,3,holdout,999678,69343055,54846595,69662125,85155695,80276245,67224545

In [121]:
recommendation_output_df_holdout3.to_excel("data/would_have/recommended_popular_non_active_bidders_test.xlsx", index=False)